DB_HOST=mysql
DB_PORT=3306
DB_USER=bandboard
DB_PASSWORD=bandboard
DB_NAME=bandboard
DB_SYNCHRONIZE=true
WEB_ORIGIN=http://localhost:8080
AWS_REGION=us-east-1
# Set these when exercising real AWS/LocalStack queue delivery.
# SQS_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/000000000000/bandboard-jobs
# AWS_ENDPOINT_URL=http://localstack:4566
